
/* Name Card on top of pages */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(30, 71, 25);
    text-align: center;
}

#name-main {
    color: black;
    font: fugaz one;
    margin: auto;
}

h1 {
    color: black;
}

/* Text on slider pictures */
.design {
    color: black;
}

.display {
    padding: 8px;
}

.nav-link {
    font-size: 24px;
    color: black;
}

.nav-pills {
    color: rgb(67, 67, 67);
}

.card {
    font-size: 24px;
    font-style: bold italic;
    color: rgb(59, 58, 58);
}

.carousel-caption {
    color: black;
}

.carousel-item active {
    background-color: grey;
}

.carousel-item second {
    background-color: rgb(73, 70, 70);
}

.carousel-item third {
    background-color: rgb(41, 39, 39);
}

/* Portfolio page links */

#streaming {
    color: #1f74b6;
    font-weight: bold;
    font-style: italic;
    font: roboto;
}

#guide {
    color: #e16428;
    font-weight: bold;
    font-style: italic;
    font: roboto;
}

.card-title {
    color: black;
}

#pwd-gen {
    color: #4e745d;
}

#code-quiz {
    color: rgb(110, 110, 110);
}

#day-plan {
    color: rgb(112, 175, 121); 
}

#wwy-title {
    color: rgb(68, 165, 133);
}