
/* Name Card on top of pages */

#name-card {
    color: white;
    /* font-family: 'Piedra', cursive; */
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 0.1em;
    line-height: normal;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: auto;
    padding: 25px;
    vertical-align: middle;
    background-image: url('../images/green_wood.jpg');
    background-size: cover;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    background-image: url('../images/brushed-alum.png');
    border: 1px solid black;
    color: white;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(30, 71, 25);
    text-align: center;
}

#back-end {
    color: white;
}

/* Text on slider pictures */

.design {
    color: black;
}

.display {
    padding: 8px;
}

.nav-link {
    font-size: 24px;
    color: black;
}

.nav {
    color: rgb(67, 67, 67);
    border: solid 1px black;
}

#navbar {
    background-color: teal;
}

.card {
    font-size: 24px;
    font-style: bold italic;
    color: rgb(59, 58, 58);
}

.carousel-caption {
    color: black;
}

.carousel-item active {
    background-color: grey;
}

.carousel-item second {
    background-color: rgb(73, 70, 70);
}

.carousel-item third {
    background-color: rgb(41, 39, 39);
}

/* Contact page links */

#contact-title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(62, 151, 157), 0 0 5px rgb(27, 87, 92);
}

#contact-info {
    align: center;
    font-family: 'Montserrat', sans-serif;
}

#contact-info-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
}

#contact-info-email {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#contact-info-phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Portfolio page links */

#portfolio-title {
    color: black;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
}

.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

#right-column {
    margin-top: 0px;
}

.mr-3 {
    border: black 1px solid;
}

#streaming {
    color: #1f74b6;
    font-weight: bold;
    font-style: italic;
    font: roboto;
}

#guide {
    color: #e16428;
    font-weight: bold;
    font-style: italic;
    font: roboto;
}

#tech-logos {
    padding-top: 8px;
    padding-bottom: 8px;
}

.card-title {
    color: black;
}

#pwd-gen {
    color: #4e745d;
}

#code-quiz {
    color: rgb(110, 110, 110);
}

#day-plan {
    color: rgb(112, 175, 121); 
}

#wwy-title {
    color: rgb(68, 165, 133);
}

/* contact stylings */

#contact-card {
    background-color: rgb(184, 212, 202);
}


/* media queries */

@media screen and (max-width: 422.9px) { 
    
    span {
        font-size: 64px;
        line-height: 24px;
    }

    #resume {
        align-content: center;
    }

}

@media screen and (max-width: 331.9) {

    span {
        font-size: 40px;
        line-height: 18px;
    }
}